html,
body,
#root {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  zoom: 95%;
}

.app-container-login {
  width: 100%;
  height: 100%;
  background-image: linear-gradient(
    0deg,
    hsl(215deg 50% 23%) 0%,
    hsl(209deg 43% 30%) 4%,
    hsl(206deg 41% 36%) 9%,
    hsl(204deg 40% 41%) 18%,
    hsl(202deg 33% 48%) 32%,
    hsl(196deg 32% 58%) 49%,
    hsl(191deg 35% 67%) 65%,
    hsl(184deg 40% 74%) 77%,
    hsl(179deg 40% 80%) 86%,
    hsl(170deg 40% 86%) 92%,
    hsl(152deg 41% 91%) 97%,
    hsl(105deg 55% 96%) 100%
  );
}

.app-container-login-container {
}
