.app-container-buttonLogin {
  display: flex;
  margin-top: 30px;
}

.app-container-buttonLogin > button {
  width: 300px;
  height: 40px;
  border-radius: 15px;
  border: none;
  background-color: var(--main-button-color);
  font-size: 20px;
  font-weight: bold;
  color: white;
  cursor: pointer;
}
.app-container-log-fb-google > div {
  display: flex;
  flex-direction: row;
  margin-left: 25px;
}

.app-container-tittle {
  margin-bottom: 30px;
}

hr {
  background-color: black;
  width: 100px;
  float: center;
  height: 1px;
  border: none;
}

.app-container-tittle > label {
  margin-left: 10px;
  margin-right: 10px;
}

.app-container-fb-login-icon > svg {
  align-items: center;
  align-content: center;
}

.app-container-fb-login-icon > svg {
  color: rgb(66 103 178);
  margin-top: -5px;
  margin-right: 15px;
}

.app-container-google-login-icon > svg {
  color: rgb(219, 68, 55);
  margin-top: -5px;
  margin-right: 15px;
}

.app-container-fb-login {
  margin-top: 30px;
  margin-bottom: 30px;
}


.app-container-buttonModificar > svg {
  color: darkblue;

}

.app-container-buttonEliminar > svg{
 color:  crimson;
}
.app-container-buttonDetalle > svg{
  color:  greenyellow;
 }