@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Sora&display=swap');

.app-container-home {
  display: flex;
  flex-direction: column;
  background: white;
  height: 100%;
  display: flex;
  flex-direction: row;
  
}

.app-container-home > div {
  display: flex;
  flex-direction: column;
}

.app-container-edit-category > div {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.app-container-navBar {
  height: 100%;
}

.app-container-category-content-category > div > div > div {

}

.app-container-edit-category {
  display: flex;
  flex-direction: row;
  height: 100%;
}
.app-container-category-content {
  width: 100vw;
  height: 100%;
  overflow-y: scroll;
  /* background-color: grey; */
}
.app-container-category-content-header {
  /* background-color: yellow; */
}
.app-container-category-edit-form {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.app-container-category-todo {
  width: 80%;
  height: 80%;
  display: flex;
}
.app-container-category-edit-form-input {
  /* background-color: red; */
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.label {
  display: flex;
  align-items: center;
  justify-content: center;
}
.label > h1 {
  font-family: 'Indie Flower', cursive;
  font-size: 25px;
  color: black;
  font-weight: bold;
  text-transform: uppercase;
  border-bottom: 3px solid black;
}
.form-input-container {
  /* background-color: yellow; */
  width: 90%;
  height: 90%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.inputs {
  width: 80%;
  height: auto;
  border: 1px solid aquamarine;
  border-radius: 15px;
  /* background-color: grey; */
  padding-bottom: 20px;
  
}
.app-container-category-edit-file {
  width: 80%;
  height: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  border: 1px solid aquamarine;
  border-radius: 15px;
}
.edit-file {
  text-align: center;
  width: 90%;
  height: 30%;
}
.app-container-category-create-image {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.app-container-create-image-uploaded {
  height: 100%;
  width: 90%;
  display: flex;
  align-items: center;
}

.app-container-create-image-uploaded > label {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 30px;
}
.app-container-create-image-uploaded>label>h1{
  text-align: center;
  font-family: 'Indie Flower', cursive;
  font-size: 25px;
  color: black;
  font-weight: bold;
  text-transform: uppercase;
  border-bottom: 3px solid black;
}




