.app-container-home {
  display: flex;
  flex-direction: column;
  background: white;
  height: 100%;
  display: flex;
  flex-direction: row;
  
}

.app-container-home > div {
  display: flex;
  flex-direction: column;
}

.app-container-category-content {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
}
.app-container-navBar {
  height: 100%;
}

.app-container-category-content-category > div > div > div {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
  align-items: center; 
  grid-row-gap: 10px;
  grid-column-gap: 50px;
}

.app-container-edit-category {
  display: flex;
  flex-direction: row;
  height: 100%;
}

.app-container-edit-category > div {
  display: flex;
  flex-direction: column;
}

.app-container-navBar {
  height: 100%;
}

.app-container-category-edit-form-input > div > div > div > input {
  width: 66%;
}
