.app-container-headerback{
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid;
  align-items: center;
}

.app-container-headerButton{
  width: 100%;
  border-bottom: 1px solid;
  height: 72.55px;
}

.app-container-header-default-title-button{
  display: flex;
  flex-direction: row;
  width: 100%;
}

.app-container-header-default-title-button> div{
  width: 50%;
  }

  .app-container-header-default-title > h2{
    margin-left: 60px;
  }

 
  .app-container-header-default-button{
    margin-bottom: 30px; 
    margin-left: 650px;
  }

  .app-container-header-default-button > div  {
    justify-content: none;
    align-items: none;
    margin-top: 15px;
    margin-bottom: 0;

  }
  .app-container-headerback > div {
    margin-left: 10px;
  }