.app-container-navBar {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 0% 0%;
  width: 400px;
  background-color: #212529;
}

h1 {
  font-size: 20px;
  color: white;
  text-align: left;
  margin-left: 20px;
  margin-top: 20px;
}

hr {
  text-align: center;
  margin-left: 24px;
  margin-top: 10px;
  margin-bottom: 32px;
  background: white;
  width: 200px;
}

.app-container-links {
  display: flex;
  flex-direction: column;
}

.app-container-links > nav > div {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
  margin-left: 24px;
}

.app-container-links > nav > div > a {
  font-size: 20px;
  color: white;
  text-decoration: none;
  margin-bottom: 30px;
}

.app-container-links > nav > div > svg {
  margin-bottom: 25px;
  margin-right: 25px;
  color: white;
}

p {
  font-size: 20px;
  margin-top: -8px;
  color: white;
}
