@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Sora&display=swap');

.title {

  width: 100%;
  height: 50px;

}
.title>h1 {
  /* background-color: yellow; */
  padding-top: 25px;
  text-align: center;
  height: 100%;
  width: 97%;
  margin: auto;
  font-size: 45px;
  font-family: 'Indie Flower', cursive;
  color: black;
  font-weight: bold;
}

.dataCard {
  overflow: hidden;
  height: 100%;
  padding: 10px 25px 70px 35px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    justify-items: center;
    align-items: center; 
    /* grid-row-gap: 50px; */
    grid-column-gap: 50px;
}

@media screen and (max-width: 1900px ){
  .dataCard {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
    align-items: center; 
  }
}
@media screen and (max-width: 1400px ){
  .dataCard {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    align-items: center; 
  }
}
@media screen and (max-width: 1000px ){
  .dataCard {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    align-items: center; 
  }
}
@media screen and (max-width: 820px ){
  .dataCard {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    justify-items: center;
    align-items: center; 
  }
}

.app-container-category-data-card {
  width: 100%;
  height: 80%;
  margin: 60px 0 10px 0; 
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* flex-wrap: wrap; */
  transition: 300ms;
  border-radius: 15px;
  border: 1px solid hsl(212, 45%, 89%);
  background-color: hsl(0, 0%, 100%);
  /* background-color: red; */
}

@media screen and (max-width: 820px ) {
  .app-container-category-data-card {
    min-width: 350px;
  }
}

.app-container-category-data-card:hover {
  cursor: pointer;
  box-shadow: 10px 10px 9px 0px rgba(240, 232, 232, 0.75);
  transition: 300ms;
  margin-top: 50px;
}

.app-container-category-data-card-img {
  width: 100%;
  height: 65%;
}

.app-container-category-data-card-img > img {
  width: 100%;
  height: 250px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.app-container-category-data-card-name{
  width: 85%;
  padding: 30px 0;
}

.app-container-category-data-card-name-li {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 6px;
  border-bottom: 1px dashed #dce0e6;
  padding-bottom: 5px;
}
.left {
  font-weight: bold;
}
.right {
  color: green;
  font-weight: bold;
}

.app-container-category-data-card-buttons {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 20px;
  padding-bottom: 20px;
}
